/*CSS Document*/
*{
    margin: 0px;
    padding: 0px;
  
}
#menu{float: right}
#menu ul{
    list-style: none;
     
  }
#menu ul li{
    background-color:navajowhite;
    border: 1px solid white;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    position: relative;
    border-radius: 15px;
}
#menu ul li a{
    text-decoration: none;
    color: black;
    background-color: navajowhite;
}
#menu ul li a:hover{
    background-color: azure;
    display: block;
    border-radius: 15px;
}
#menu ul ul{
    position: absolute;
    display: none;
}
#menu ul ul ul{
    position: absolute;
    display: none;
}
#menu ul li:hover > ul{
    position: absolute;
    display: block;
}
#menu ul ul ul{
    margin-left: 120px;
    top:0px;
}
/*header */
#header{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    color:green;
        
}
/*Notification*/
.con{
    background-color: burlywood; text-align: center;
    width: 210px;padding: 1px 0px;border:3px solid green; border-radius: 10px;
}
.move{
    padding: 4px;
    height: 270px;
    width: 200px;
    border: 3px solid green; border-radius: 10px;float: left;
  
   }
.move{
    text-align: center;
    background-color: beige;
}
/*banner*/
#banner{
    width: 790px;
    margin-top: 50px;
    height: auto;
    border-radius:10px;
    float: right;margin: 0px;padding: 0px;
       
}
/*why choose*/

#why_choose h1{
    margin:0px auto;
    width: 280px; 
    height: 0px;
    font-size: 30px;
    font-family: monospace;
    color: red;
    text-align: center;
      
}

.sec1{
    width: 22%;
    height: 0px;
    margin: 15px;
    border: 0px solid grey;
    float: left;
}
.icon{
    width: 100px;
    height: 100px;
    border: 0px solid grey;
    margin: 10px auto;
    line-height: 90px;
    font-size: 50px;
    background-color: white;
    color: blue;
    border-radius: 50px;
    
}
.icon :hover{
    font-size: 30px;
    transition-duration: 0.3s;
}
#why_choose .sec1 .icon{
    text-align: center;
    
}    
#why_choose .sec1 h3{
    text-align: center;
    text-align: justify-all;
    
}
#footer .footer1{
    width: 100%;
    height: 100px;
    margin: auto;
    background: brown;
    text-align: center;
    line-height: 100px;
}
